/* general styling */
#bill, #tip-share, #split {
    width: 40%;
    border-radius: 20px;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* style for header */
#info-panel {
    color:black;
    font-size: 30px;
    background-color: cornflowerblue
}

/* style for form and the dashbord */
#input-form, #dashboard  {
    border-radius: 70px;
    background-color: khaki
}

@media screen and (max-width: 1600px) {
#bill-details, #tip-details, #table-details {
    border-right-color: blueviolet;
    border-right-style: solid;
    border-right-width: 2px;
}
}
@media screen and (max-width: 790px) {
    #bill-details, #tip-details, #table-details {
        border-right-style: none;
        border-bottom-color: blueviolet;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-style: dotted;
        padding-bottom: 20px
    }
    }
    
/* style for footer */
footer {
    padding: 3%;
    background-color: black;
}

/* style for line break */
hr {
   background-color: blueviolet;
   height: 2px;
}